<section id="camps">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 order-sm-1 order-md-1 order-lg-3 order-xl-3">
                <img class="img-fluid img-camps" src="FischerGroupSamkova/media/Samkova/images/eva-snowboard3.png"
                     alt="Eva na svahu">
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 order-sm-2 order-md-2 order-lg-1 order-xl-1">
                <h2>O snowboardcrossu</h2>
            </div>
            <div class="t col-sm-12 col-md-12 col-lg-6 col-xl-6 order-sm-3 order-md-3 order-lg-2 order-xl-2">
                <p>Snowboardcross je mladý, dynamicky se rozvíjející závodní sport. Čtveřice nebo šestice
                    závodníků při
                    něm souběžně závodí na trati tvořené skoky, nerovnostmi i klopenými zatáčkami. Jízdy se
                    obvykle
                    časově pohybují v rozmezí 30–90 sekund, vítězí nejrychlejší závodník.
                </p>
                <p>Historie snowboardcrossu sahá do 80. let, olympijským sportem je pak teprve od roku 2006. I
                    proto je
                    neuvěřitelné, jakých úspěchů se za tuto krátkou dobu podařilo českým závodníkům dosáhnout.
                    Nejzářnějším příkladem je Eva Samková, která kromě dalších výrazných úspěchů má ve sbírce i
                    to
                    nejcennější – zlatou medaili z olympijských her v Soči.
                </p>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 order-sm-4 order-md-4 order-lg-4 order-xl-4">
                <a href="http://snowboardcross.eu/kempy/" target="_blank">
                    <img class="img-fluid mb-4 mt-3 img-camps-banner"
                         src="FischerGroupSamkova/media/Samkova/images/snowboardcross-banner.jpg"
                         alt="presmerovani na Kempy">
                </a>
            </div>
        </div>
    </div>
</section>
