<section id="competition">
    <div class="container line">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6 offset-xl-6 order-sm-1 order-md-1 order-lg-1 order-xl-1">
                <h2>Zasoutěž si s Evou o prkno</h2>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 order-sm-2 order-md-2 order-lg-3 order-xl-3">
                <p>Pojď si s Evou <strong>zahrát o nové prkno</strong> od její oblíbené značky
                    Endless.
                    Co
                    pro to musíš
                    udělat? Stačí
                    nahrát pod náš soutěžní příspěvek na facebooku <strong>selfíčko se svojí
                        verzí Evina
                        šťastného
                        knírku.</strong>
                    Fantazii se meze rozhodně nekladou, protože vyhraje ten nejvtipnější.
                </p>
                <a href="http://www.facebook.com/nevdama/" target="_blank">
                    <div class="btn-none btn-competition"></div>
                </a>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 order-sm-2 order-md-3 order-lg-2 order-xl-2">
                <img class="img-fluid" src="FischerGroupSamkova/media/Samkova/images/competition2.png" alt="">
            </div>
        </div>
    </div>
</section>