<section id="eshop">
    <div class="container">
        <div class="row text-center">
            <div class="col col-md-6 offset-md-3 eshop-content mt-4">
                <h2>Sháníš prkno a oblečení?</h2>
                <p>S prknem z pravěku si Alpy moc neužiješ! Zaběhni si pro snowboard od Endless –
                    značky, která má za sebou víc
                    jak deset let spolupráce s týmem Evy Samkové.
                </p>
                <p>Nezapomeň taky na kvalitní oblečení. Teplo, pohodlí a styl jsou tři věci, bez
                kterých se na horách
                neobejdeš. Všechno najdeš u Kari Traa – tradiční české značky, která obléká
                amatérské sportovní nadšence i
                špičkové olympioniky.
                </p>
            </div>
        </div>
        <div class="row text-center mt-320 mt-4">
            <div class="col-12 col-sm-5 offset-sm-1 mb-4">
                <a class="btn btn-none btn-eshop-left" href="http://snowboardcross.eu/snowboardy/" target="_blank"></a>
            </div>
            <div class="col-12 col-sm-5 mb-4">
                <a class="btn btn-none btn-eshop-right" href="http://karitraa.norskamoda.cz/" target="_blank"></a>
            </div>
        </div>
    </div>
</section>