<section id="references">
    <div class="container">
        <div class="mb-lg-4 mt-4 text-center">
            <p class="text-headline">Proč byste měli jet s NEV-DAMOU?</p>
        </div>
        <div class="row ref-div text-center ref-wrapper">
            <div class="d-flex col-6 col-sm-3 align-items-center justify-content-around">
                <p class="ref-text">Jezdí na spoustu míst, kde si skvěle zajezdíte a
                    zaskáčete</p>
                <span class="ref-number">1</span>
            </div>
            <div class="d-flex col-6 col-sm-3 align-items-center justify-content-around">
                <p class="ref-text">Nabízí řadu výhod, které sami na svahu nedostanete</p>
                <span class="ref-number">2</span>
            </div>
            <div class="d-flex col-6 col-sm-3 align-items-center justify-content-around">
                <p class="ref-text">Jsou velmi vstřícní a dobře se s nimi spolupracuje</p>
                <span class="ref-number">3</span>
            </div>
            <div class="d-flex col-6 col-sm-3 align-items-center justify-content-around">
                <p class="ref-text">Ty ceny jsou fakt super</p>
                <span class="ref-number">4</span>
            </div>
        </div>
    </div>
</section>