<section id="video" class="video-opener">
    <img class="img-fluid" src="FischerGroupSamkova/media/Samkova/images/video-area-bg.png" alt=""/>
    <div class="video-frame container-fluid no-padding">
        <video poster="FischerGroupSamkova/media/Samkova/images/transparent.png" width="1170" height="680" style="width: 100%; height: auto;" autoplay muted loop>
            Your browser does not appear to support a browser. Please download the video below.
            <source src="http://fischergroup.fischerwork.cz/data/FG_Hlavicka_letni_1920x562px_04.mp4" type="video/mp4">
            <source src="http://fischergroup.fischerwork.cz/data/FG_Hlavicka_letni_1920x562px_04.webm" type="video/webm">
            <source src="http://fischergroup.fischerwork.cz/data/FG_Hlavicka_letni_1920x562px_04.ogv" type="video/ogg">
        </video>
    </div>
</section>